@media (max-width: 991.98px) {
  .special-div {
    flex-direction: column !important;
    gap: 25px;
  }
  .special-div > div {
    width: 100%;
  }
  .special-div > div:first-child {
    text-align: center;
  }
}
@media (max-width: 575.98px) {
  .sub-title {
    font-size: 20px;
  }
  .special-div > div:last-child {
    flex-direction: column !important;
    gap: 25px;
  }
  .table-section {
    padding-inline: 0 !important;
  }
  form > div:nth-child(3) {
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: 8px;
  }
  .form-select {
    width: 100% !important;
  }
  button {
    padding: 5px !important;
    font-size: 10px !important;
  }
  button i {
    display: none !important;
  }
  table {
    font-size: 10px !important;
  }
  table th {
    width: unset !important;
  }
  button > a {
    padding: 5px !important;
    font-size: 10px;
  }
}
